html,
body,
#app
  height 100%

.preso

  > div
    height 100%
    width 100%
    position absolute
    top 0

    > div
      height 100%
      width 100%

.toggle-me
  transition height .2s

.slide-me
  transition left .6s

.fade-me
  transition opacity 1s
